version: '3.8'

services:
  mysql:
    image: gestion-notes-database:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestion_notes
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    image: gestion-notes-backend:latest
    depends_on:
      - mysql
    environment:
      DB_HOST: mysql
      DB_DATABASE: gestion_notes
      DB_USERNAME: root
      DB_PASSWORD: root
    ports:
      - "8000:80"

  frontend:
    image: gestion-notes-frontend:latest
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  mysql_data: